@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), 
         url('../../fonts/montserrat-v12-latin-regular.woff') format('woff');        
  }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/montserrat-v12-latin-700.woff2') format('woff2'), 
         url('../../fonts/montserrat-v12-latin-700.woff') format('woff');      
  }
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/roboto-v18-latin-300.woff2') format('woff2'), 
         url('../../fonts/roboto-v18-latin-300.woff') format('woff'); 
    }
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/roboto-v18-latin-regular.woff2') format('woff2'), 
         url('../../fonts/roboto-v18-latin-regular.woff') format('woff');       
  }
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/kaushan-script-v6-latin-regular.woff2') format('woff2'), 
         url('../../fonts/kaushan-script-v6-latin-regular.woff') format('woff');        
  }
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url('../../fonts/roboto-v18-latin-100italic.woff2') format('woff2'), 
         url('../../fonts/roboto-v18-latin-100italic.woff') format('woff');        
  }
:root {
    font-size: 10px; 
}
body {
    font-size: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
.wrapper {
    margin: 0 auto;
    text-align: center;
    background: url(../../img/background-min.png) no-repeat;
    background-size: 100% 1000px;
    margin-bottom: 0 auto;
    text-align: center;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
    .wrapper {
      background: url(../../img/background@2x-min.png) no-repeat;
      background-size: 100% 1000px;
    }
}
.container,
.template {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container {
    max-width: 120rem; 
}
header {
    padding-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 0 auto;
    margin-bottom: 15.5rem;
}
.intro {
    margin-bottom: 28rem;
}
.products-wrap {
    margin-bottom: 5.1rem;
}
.services-wrap {
    max-width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.team-wrap {
    margin-bottom: 8.5rem;
}
.about-team {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: #999999;
    line-height: 1.6;
    max-width: 96rem;
    margin: 0 auto 8.7rem;
    text-align: center;
}
.structure-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.person-image {
    position: relative;
    width: 380px;
    height: 470px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ef8a8a), to(#f2d887));
    background: -webkit-linear-gradient(#ef8a8a, #f2d887);
    background: -o-linear-gradient(#ef8a8a, #f2d887);
    background: linear-gradient(#ef8a8a, #f2d887);
    -webkit-transition-property: translate;
    -o-transition-property: translate;
    transition-property: translate;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}
.social-wrap {
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 224px;
    height: 56px;
    top: 207px;
    left: 78px;  
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.social-wrap .network {
    background-color: #fce38a;
    width: 55px;
    height: 55px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear; 
    cursor: pointer;  
}
.social-wrap .network:hover {
    background-color: #f38181;
}
.network {
    position: relative;
}
.network .social-link {
    text-decoration: none;
    font-size: 16px;
    display: block;
    width: 55px;
    height: 55px;
    position: absolute;
}  
.network:hover .network-icon {
    fill: #ffffff;
}
.footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
    border-top: 1px solid #cccccc;
    margin: 0 auto 1.2rem;
}
.subscription {
    padding-top: 10px;
}