.more {
    border: 2px solid $white;
    max-width: 16rem;
    max-height: 4rem;
    box-sizing: border-box;
    margin: auto; 
}
.more__link {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: $font-bold;
    color: $white;
    text-transform: uppercase;
    margin: 1rem auto;
}