body {
    font-size: 0;
    font-family: 'Montserrat', sans-serif;
}
div.wrapper {
    margin: 0 auto;
    max-width: 1920px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 29px auto 114px;
    max-width: 1200px;
    height: 36px;
}
.mogo {
    font-size: 30px;
    font-weight: bold;
    color: #95e1d3;
}
.menu {
    width: 490px;
    display: flex;
    justify-content: space-between; 
}
li:nth-child(2) {
    align-self: flex-end;
}
a {
    list-style: none;
    font-size: 14px;
    color: #95e1d3;
    text-decoration: none;
    text-transform: uppercase;
}
.products {
    max-width: 1150px;
    height: 468px;
    margin-left: 390px;
} 

