body {
    font-size: 0;
    font-family: 'Montserrat', sans-serif;
}
div.wrapper {
    margin: 0 auto;
    max-width: 1920px;
}
.header {
    margin: 29px auto 120px;
}
.mogo {
    box-sizing: content-box;
    position: relative;
    left: 358px;
    font-size: 30px;
    font-weight: bold;
    color: #95e1d3;
}
.menu {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    top: 40px;
    left: 1070px;   
}
ul {
    display: inline-flex;
    justify-content: space-evenly;
}
li {
    
}
a {
    list-style: none;
    font-size: 14px;
    color: #95e1d3;
    text-decoration: none;
    text-transform: uppercase;
}

