
body {
    height: 2079px;
    font-size: 0;
    font-family: 'Playfair Display', serif;
}
div.wrapper {
    max-width: 1200px;
    margin: auto;
}
.menu {
    width: 1200px;
    box-sizing: border-box;
    text-align: center;
    padding: 77px 284px 73px 292px;
}
ul {
    width: 624px;
    box-sizing: border-box;
}

li {
    display: inline-block;
    box-sizing: border-box;
    height: 42px;
    width: 113px;  
  }
a {
    list-style: none;
    text-decoration: none;
    color:#626262;
    font-size: 14px;  
    text-transform: uppercase;
  }
a:hover {
  color: lightskyblue;
}

li:first-child {
    margin-right: 87px;
  }
li:nth-child(2) {
    margin-right: 56px;
  }
li:nth-child(3) {
    margin-right: 29px;
  }
main {
    box-sizing: border-box;
    width: 902px;
    margin: auto;
}
article {
    display: inline-block;
    box-sizing: border-box;
    height: 573px;
  }
.coffee, .alps, .winter {
    margin-left: 60px;
  }
h2 {
    box-sizing: border-box;
    height: 70px;
    width: 420px;
    font-size: 14px;
    color: #b4ad9e;
    padding: 27px 0; 
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
  }
h3 {
    height: 65px;
    width: 420px;
    font-size: 30px;
    color: #626262;
  }
p {
    box-sizing: border-box;
    height: 158px;
    width: 420px;
    font-size: 14px;
    line-height: 1.5; 
    color: #626262;
  }
footer {
    margin: 0 auto;
    box-sizing: border-box;
    height: 168px;
    padding: 0 529px 70px 507px;
  }
.load {
    box-sizing: border-box;
    width: 164px;
    height: 60px;
    text-align: center;
    border: 1px solid #626262;
    padding: 21px 0;
  }
span {
    font-size: 20px;
  }
  a > span {
    text-transform: none;
  }
  