@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), 
         url('../fonts/montserrat-v12-latin-regular.woff') format('woff');        
  }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), 
         url('../fonts/montserrat-v12-latin-700.woff') format('woff');      
  }
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'), 
         url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff'); 
  }
@font-face {
    font-family: 'Great Vibes';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/great-vibes-v5-latin-regular.woff2') format('woff2'), 
         url('../fonts/great-vibes-v5-latin-regular.woff') format('woff');     
  }
@font-face {
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/vollkorn-v8-latin-italic.woff2') format('woff2'), 
         url('../fonts/vollkorn-v8-latin-italic.woff') format('woff'); 
}
body {
    font-size: 0;
}
div.wrapper {
    margin: 0 auto;
    width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 44px auto 119px;
    max-width: 940px;
    height: 41px;
}
.golden {
    font-size: 30px;
    color:#fed136;
    font-family: "Great Vibes", serif;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
    padding-left: 7px;
}
.menu {
    width: 485px;
    display: flex;
    justify-content: space-between; 
    height: 22px;
}
li a {
    list-style: none;
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 14px;
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
    transition-property: color;
    position: relative;
}
li a:hover {
    color: #fedd6c;
}
.first_part,
.second_part {
    width: 100%;
}
.container_top,
.container_bottom {
    margin: 0 auto;
    text-align: center;
}
.captions {
    margin: 0 auto 80px;
    max-width: 940px;
}
.heading {
    text-transform: uppercase;
    font-size: 40px;
    font-family: "Montserrat", serif;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #222222;
    text-align: center;
    margin-bottom: 20px;
}
.type {
    font-family: "Vollkorn", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: #898989;
    text-align: center;
}
.structure_wrap {
    max-width: 940px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.service {
    text-align: center;
}
img {
    margin-bottom: 25px;  
}
.list {
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 18px;
    color:#222222;
    letter-spacing: -0.025em;
    margin-bottom: 15px;
}
.description {
    font-family: "Roboto Slab", serif; 
    font-size: 14px;
    font-weight: 400;
    color: #898989;
    letter-spacing: -0.025em;
    margin-bottom: 120px;
    max-width: 275px;
    max-height: 61px;
    line-height: 1.5;
    box-sizing: border-box;
}
.second_part {
    background-color: #222222;
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top: 110px;
    padding-bottom: 115px;
}
.second {
    margin-bottom: 77px;
}
.two {
    color: #ffffff;
}
.form_wrap {
    margin: 0 auto;
    display: inline-block;
    max-width: 940px;
    text-align: center;
}
input[type="text"],
input[type="email"] {
    width: 455px;
    height: 50px;
    border-radius: 3px;
    text-transform: uppercase;
    margin-right: 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
    border: 0px;
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 14px;
    color: #cdcdcd;
    letter-spacing: -0.025em;
    padding-left: 20px;
}
textarea {
    box-sizing: border-box;
    width: 455px;
    height: 210px;
    border-radius: 3px;
    text-transform: uppercase;
    float: right;
    border: 0px;
    padding-top: 19px;
    padding-left: 20px;
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 14px;
    color: #cdcdcd;
    letter-spacing: -0.025em;
}
input[type="submit"] {
    box-sizing: border-box;
    width: 240px;
    height: 66px;
    background: #fed136;
    color: #ffffff;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    border-radius: 3px;   
    cursor: pointer;
    border: 0px;
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 18px;
}
.input_valid:valid {
    outline: 1px solid green;
    -moz-outline-radius: 3px;
}
.input_valid:invalid {
    outline: 1px solid red;
    -moz-outline-radius: 3px;
}