body {
    font-size: 0;
}
div.wrapper {
    margin: 0 auto;
    max-width: 1400px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 44px auto 119px;
    max-width: 940px;
    height: 41px;
}
.golden {
    font-size: 26px;
    color:#fed136;
    text-transform: none;
    text-decoration: none;
    padding-left: 7px;
}
.menu {
    width: 485px;
    display: flex;
    justify-content: space-between; 
    height: 22px;
}
li a {
    list-style: none;
    font-size: 14px;
    color: #313131;
    text-decoration: none;
    text-transform: uppercase;
    transition-property: color;
    position: relative;
}
li a:hover {
    color: #fedd6c;
}
.captions {
    margin: 0 auto;
    max-width: 940px;
    margin-bottom: 80px;
}
.heading {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.type {
    font-size: 16px;
    color: #898989;
    text-align: center;
    font-style: italic;
}
.structure_wrap {
    max-width: 940px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.service {
    text-align: center;
}
.service img {
    margin-bottom: 25px;
}
h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.description {
    font-size: 14px;
    color: #dbdbdb; 
    margin-bottom: 120px;
    max-width: 275px;
}
.background_wrap {
    background: url(https://image.ibb.co/nGVBjJ/Map_Image.png) no-repeat;
    width: 1400px;
    height: 676px;
    padding-top: 110px;
    padding-bottom: 115px;
}
.bottom_wrap {
    max-width: 940px;
    vertical-align: middle;
    margin: 0 auto;
}
.two {
    color: #ffffff;
}
.form_wrap {
    margin: 0 auto;
}
.forms {
    display: inline-block;
}
input[type="text"],
input[type="email"] {
    width: 455px;
    height: 50px;
    border-radius: 4px;
    text-transform: uppercase;
    margin-right: 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
textarea {
    box-sizing: border-box;
    width: 455px;
    height: 210px;
    border-radius: 4px;
    text-transform: uppercase;
    float: right;
}
input[type="submit"] {
    box-sizing: border-box;
    width: 240px;
    height: 66px;
    background: #fed136;
    color: #ffffff;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    margin-left: 350px;
    cursor: pointer;
}