@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), 
         url('../fonts/montserrat-v12-latin-regular.woff') format('woff');        
  }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), 
         url('../fonts/montserrat-v12-latin-700.woff') format('woff');      
  }
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v18-latin-300.woff2') format('woff2'), 
         url('../fonts/roboto-v18-latin-300.woff') format('woff'); 
    }
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), 
         url('../fonts/roboto-v18-latin-regular.woff') format('woff');       
  }
:root {
    font-size: 10px; 
}
body {
    font-size: 0;
}
.wrapper {
    margin: 0 auto; 
    text-align: center; 
}
.background {
    background: url(../images/Background_320.png) no-repeat;
    background-size: cover;
    min-height: 54rem;
}
.header_wrap {
    margin: 0 auto 2rem;
}
.registr {
    margin-bottom: 12.8rem;
    display: inline-flex;
    justify-content: center;
    margin-top: 3.2rem;
}
.reg {
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: #fafaf9;
    background: transparent;
    border: 0;
    cursor: pointer;
    text-decoration: none;  
    box-sizing: border-box;
    padding: 1.1rem 1.6rem 0.8rem;
    transition-property: box-shadow;
}
.reg:hover {
    box-shadow: inset 0 0 0 0.2rem #fafaf9;
    border-radius: 2rem;  
}
.title {
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.05rem;
    margin: 0 auto;
    text-decoration: none;
}
.target_wrap,
.folks_wrap {
    margin: 0 auto;
    text-align: center;
}

.aim {
    font-family: "Montserrat", serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 4rem;
    margin: 0 auto;
}
.aim .aim2 {
    display: inline-block;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-size: 1.8rem;
    color:#efe2db;
    text-transform: none;
    line-height: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
}
.find,
.find1 {
    display: inline-block;
    cursor: pointer;
    min-width: 28rem;
    box-sizing: border-box;
    border: 0.1rem solid #ff4e50;
    background: transparent;
    color: #ff4e50;
    font-size: 1.4rem;  
    font-family: "Montserrat", serif;
    font-weight: 700;
    border-radius: 5rem;
    padding-top: 1.3rem;
    padding-bottom: 1.2rem;
    text-decoration: none;
}
.find:hover,
.find1:hover {
    background :#ff4e50;
    color: #ffffff;
}
.folks_wrap {
    padding-top: 6.9rem;
    padding-bottom: 5.8rem; 
}
.holiday {
    font-size: 2.2rem;
    font-family: "Montserrat", serif;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #333333;
}
.people {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
}
.people_wrap {
    margin: 0 auto 3rem;
    align-content: center; 
}
.people_wrap img {
    align-self: center;
    margin-bottom: 2.1rem;
}
.name {
    font-size: 1.4rem;
    font-family: "Montserrat", serif;
    font-weight: 700;
    color: #333333;
    margin-bottom: 2rem;
}
.interest {
    padding: 0 0.8rem 0;
    font-size: 1.4rem;
    font-family: "Roboto", serif;
    font-weight: 300;
    color: #a3a3a3;
    line-height: 1.7rem;
    text-align: center;
}
@media (min-width: 768px) {
    .header_wrap {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse; 
        margin: 0 6.5104%;
    }
    .title {
        margin: 5.1rem 0 0;  
    }
    .registr {
        margin-top: 5.1rem;
    }
    .background {
        background: url(../images/Background_768.png) no-repeat;
        background-size: cover;
        min-height: 70rem;
    }
    .aim {
        font-size: 5.2rem;
        line-height: 6rem;
    }
    .aim .aim2 {
        font-family: "Roboto", serif;
        font-weight: 300;
        font-size: 2.4rem;   
        margin-bottom: 4rem;
    }
    .find {
        min-width: 22.5rem;
    }
    .find1 {
        min-width: 19.2rem;
    }
    .holiday {
        margin-bottom: 3.2rem;   
    }
    .people {
        flex-wrap: wrap;
        flex-direction: row;
        align-content: space-between;
    }
    .people_wrap {
        width: 25%;       
    }
    .people_wrap:first-child,
    .people_wrap:nth-child(2) {
        margin-left: 25%;
    }
    .people_wrap:last-child,
    .people_wrap:nth-child(3) {
        margin-right: 25%;
    }
    .people_wrap:nth-child(2) {
        order: 2;
    }
    .people_wrap:nth-child(4) {
        order: 3;
    }    
}
@media (min-width: 1200px) {
    .header_wrap {
        width: 66.66667%; 
        margin: 0 16.66667%;
    }
    .background {
        background: url(../images/Background_1440.png) no-repeat;
        background-size: cover;
        min-height: 70rem;
    }
    .aim {
        line-height: 6rem;
    }
    .people {
        flex-wrap: nowrap;
    }
    .people_wrap {
        width: 16.66667%;       
    }
    .people_wrap:first-child,
    .people_wrap:nth-child(2) {
        margin-left: 0;
    }
    .people_wrap:last-child,
    .people_wrap:nth-child(3) {
        margin-right: 0;
    }
    .people_wrap:first-child {
        margin-left: 16.66667%;
    }
    .people_wrap:last-child {
        margin-right: 16.66667%;
    }
}