@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), 
         url('../fonts/montserrat-v12-latin-regular.woff') format('woff');        
  }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), 
         url('../fonts/montserrat-v12-latin-700.woff') format('woff');      
  }
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v18-latin-300.woff2') format('woff2'), 
         url('../fonts/roboto-v18-latin-300.woff') format('woff'); 
    }
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), 
         url('../fonts/roboto-v18-latin-regular.woff') format('woff');       
  }
:root {
    font-size: 10px; 
}
body {
    font-size: 0;
}
.wrapper {
    margin: 0 auto; 
    text-align: center; 
}
.background_wrap {
    width: 100%;
}
.background {
    background: url(../images/Background_320.png) no-repeat;
    background-size: cover;
    min-height: 54rem;
}
.header_wrap {
    margin: 0 auto 2rem;
}
.registr {
    max-width: 100%;
    margin-bottom: 12.8rem;
    padding-top: 3.2rem;
    display: inline-flex;
    justify-content: center;
}
.reg {
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: #fafaf9;
    background: transparent;
    border: 0;
    cursor: pointer;
    text-decoration: none;  
    box-sizing: border-box;
    padding: 1.1rem 1.6rem 0.8rem;
    transition-property: box-shadow;
}
.reg:hover {
    box-shadow: inset 0 0 0 0.2rem #fafaf9;
    border-radius: 2rem;  
}
.title {
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.05rem;
    margin: 0 auto;
    text-decoration: none;
}
.target,
.folks {
    width: 100%;
}
.target_wrap,
.folks_wrap {
    margin: 0 auto;
}
.aim {
    font-family: "Montserrat", serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 4rem;
    max-width: 86.5625%;
    margin: 0 auto;
}
.aim .aim2 {
    display: inline-block;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-size: 1.8rem;
    color:#efe2db;
    text-transform: none;
    max-width: 68.75%;
    line-height: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
}
.find {
    display: inline-block;
    cursor: pointer;
    width: 87.5%;
    border: 0.2rem solid #ff4e50;
    background: transparent;
    color: #ff4e50;
    font-size: 1.4rem;  
    font-family: "Montserrat", serif;
    font-weight: 700;
    border-radius: 5rem;
    padding-top: 1.3rem;
    padding-bottom: 1.2rem;
    text-decoration: none;
}
.find:hover {
    background :#ff4e50;
    color: #ffffff;
}
.folks_wrap {
    padding-top: 6.9rem;
    padding-bottom: 5.8rem; 
}
.holiday {
    font-size: 2.2rem;
    font-family: "Montserrat", serif;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #333333;
}
.people {
    max-width: 100%;
}
.people_wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto 3rem;
    max-width: 69.0625%;
    align-content: center; 
}
.people_wrap img {
    align-self: center;
    margin-bottom: 2.1rem;
}
.name {
    font-size: 1.4rem;
    font-family: "Montserrat", serif;
    font-weight: 700;
    color: #333333;
    margin-bottom: 2rem;
}
.interest {
    font-size: 1.4rem;
    font-family: "Roboto", serif;
    font-weight: 300;
    color: #a3a3a3;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .header_wrap {
        width: 86.979166%;
        display: flex;
        justify-content: space-between;
        padding-top: 5.1rem;
        flex-direction: row-reverse; 
    }
    .title {
        margin: 0;  
    }
    .registr {
        padding-top: 0;
    }
    .background {
        background: url(../images/Background_768.png) no-repeat;
        background-size: cover;
        min-height: 70rem;
    }
    .aim {
        font-size: 5.2rem;
        max-width: 69.27083%;
        line-height: 6rem;
    }
    .aim .aim2 {
        font-family: "Roboto", serif;
        font-weight: 300;
        font-size: 2.4rem;
        max-width: 100%;   
        margin-bottom: 4rem;
    }
    .find {
        max-width: 29.296875%;
    }
    .people {
        max-width: 64.0625%;
        justify-content: center;
    }
    .people_wrap {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
 
}