.services {
    max-width: 40rem;
    height: 11.1rem;
    text-align: start;
}
.services:nth-child(-n+3) {
    margin-bottom: 5.8rem; 
}
.services__icon {
    display: inline-block;
    width: 92px;
    vertical-align: middle; 
    text-align: center;   
}
.services__name {
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
.services__description {
    display: inline-block;
    margin: 0 0 0 9.2rem;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: #999999;
    line-height: 1.6;
}