body {
    font-size: 0;
    font-family: 'Roboto', sans-serif;
}
div.wrapper {
    margin: 0 auto;
}

header {
    display: block;
    max-width: 1110px;
    margin: 40px auto 20px;
}
.mart {
    float: left;
    font-size: 30px;
    text-transform: uppercase;
    color: #555252;
    padding-bottom: 12px;
}
.mart::first-letter {
    font-family: 'Roboto', sans-serif;
    color: #1abc9c;
    font-weight: bold;   
}
.menu {
    float: right;
    margin: 4px 0 22px 0;
}
.menu li {
    display: inline-block;
}
.menu li:first-child, li:nth-child(5) {
    margin-right: 35px;
}
.menu li:nth-child(2) {
    margin-right: 38px;
}
.menu li:nth-child(3) {
    margin-right: 31px;
}
.menu li:nth-child(4) {
    margin-right: 28px;
}
a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold; 
    color: #0f0101;
    list-style: none;
    text-decoration: none;  
    text-transform: uppercase; 
    letter-spacing: -0.28px;
}
a:hover {
    color: #1abc9c;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
main {
    margin: 0 auto;
    background:#e9f0fd; 
    width: auto;
}
.tours {
    height: 600px;
    position: relative;
    margin-bottom: 98px;
    background: #000002 no-repeat; 
    left: 0;
    background-size: cover; 
    
}
.girls {
    box-sizing: border-box;
    position: relative;
    height: 600px;
    background-size: 100%;
}
.girls_bg {    
    position: relative;
    left: 0;
    background: url(https://image.ibb.co/ddPmUo/bg.jpg) no-repeat;
    height: 600px;
    background-size: cover; 
    background-position: -130px;
    opacity: 0.5;
}

.slider { 
    position: absolute;
    top: 217px;
    left: 316px;
    box-sizing: border-box;  
}
h1 {
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -1.2px;
    margin-bottom: 35px;
} 
p {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -0.48px;
}
.al,
.ar {
    position: absolute;
    background: #1abc9c;
    cursor: pointer;
    opacity: 0.8;
    box-sizing: border-box;
    padding: 0;
    margin:0;
    border: 0;
}
.al {
    left: -188px;
    top: 13px;
}
.ar {
    right: -188px;
    top: 13px;
}
h2 {
    box-sizing: border-box;
    max-height: 255px;
    font-size: 48px;
    color: #515151;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.96px;
    position: relative;
    margin-bottom: 105px;
}
h2::after {
    content: "";
    display: block;
    height: 8px;
    width: 160px;
    background-color:#1abc9c;
    text-align: center;
    position: absolute;
    top: 81px;
    left: 595px;
    bottom: 73px
}
.prod_wrap {
    margin: 0 auto;
    text-align: center;
}
.products {
    background: #e9f0fd;
    height: 322px; 
    padding-bottom: 100px;
    width: 100%; 
}
.production {
    display: inline-block;
    position: relative; 
}
.production:first-child {
    box-sizing: border-box;
    width: 255px;
    height: 322px; 
    background: #ffffff;
    margin-right: 30px; 
    
}
.production:nth-child(2) {
    box-sizing: border-box;
    width: 255px;
    height: 322px; 
    background: #ffffff;
    margin-right: 30px; 
    
}
.production:nth-child(3) {
    box-sizing: border-box;
    width: 255px;
    height: 322px; 
    background: #ffffff;
    margin-right: 30px; 
  
}
.production:last-child {
    box-sizing: border-box;
    width: 255px;
    height: 322px; 
    background: #ffffff;    
}
.picture {
    height: 282px;
    width: 255px;    
}
.hidden {
    background: #737373;
    height: 260px;
    width: 233px;
    top: 11px;
    left: 11px;
    display: none;
    opacity: 0.7;
    position: absolute;
    left: 11px;   
}
.icons_wrapper {
   display: none; 
}
.like,
.shuffle,
.clock {
    position: absolute;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border: 1px solid #ffffff; 
    padding-top: 5px;
    display: block;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    background: transparent;
    cursor: pointer;
}
.like {
    top: 89px;
    left: 45px;
}
.shuffle {
    top: 89px;
    left: 103px;
}
.clock {
    top: 89px;
    left: 161px;
}
.cart {
    position: absolute;
    box-sizing: border-box;
    height: 50px;
    width: 166px;
    border: 1px solid #ffffff;
    left: 45px;
    top: 146px;
    padding-top: 0px;
    padding-left: 9px;
    padding-right: 0px;
    padding-bottom: 0px;
    cursor: pointer;
    background: transparent;
}
.cart1 {
    position: absolute;
    width:30px;
    margin-top: 9px;
    top: 0px;
    display: block;
}
.cart2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.28px;
    position: absolute;
    box-sizing: border-box;
    display: block;
    height: 27px;
    width: 115px;
    left: 47px;
    top: 14px;
    text-align: center;
}
.descript_wrap {
    position: absolute;
    max-height: 40px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-weight: bold;
    
}
span {
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}
.description {
    height: 40px;
    width: 201px;
    background: #323232;
    text-align: left;
    padding-left: 13px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 282px;
    padding-top: 10px;
    
}
.price {
    width: 54px;
    height: 40px;
    text-align: center;
    background: darkgray;
    position: absolute;
    top: 282px;
    left: 201px;
    padding-top: 10px;
    box-sizing: border-box;
}

.production:hover {
    cursor: pointer;
}
.production:hover .description {
    background: #1abc9c;
    opacity: 1;
}
.production:hover .price {
    background: #1abc9c;
    opacity: 0.5;
}

.production:hover .hidden {
    display: block;   
}
.production:hover .icons_wrapper {
    display: block;
    opacity: 1;
}
.shuffle:hover,
.like:hover,
.clock:hover {
    background: #1abc9c;
    opacity: 1;   
}
.cart:hover {
    background: #323232;
    
}
footer {
    height: 90px;
    background: #323232;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}
.bottom {
    padding-top: 39px;
}
.whitetext,
.greentext {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-transform: none;
    letter-spacing: -0.32px;
    margin-top: 39px;
}
.whitetext {
    color: #fefefe;      
}
.greentext a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal; 
    color: #46bfa9;
    list-style: none;
    text-decoration: none;  
    text-transform: none; 
    letter-spacing: -0.32px;
}