
:root {
    font-size: 10px; 
}
body {
    font-size: 0;
    font-family: $font-family-m;
    font-weight: $font-normal;
}

.wrapper {
    margin: 0 auto;
    text-align: center;
    background: url(../img/background-min.png) no-repeat;
    background-size: 100% 1000px;

    @media (min-resolution: 192dpi) {
      background: url(../img/background@2x-min.png) no-repeat;
      background-size: 100% 1000px;  
    }
}

.container,
.template {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container {
    max-width: 120rem; 
}


