
:root {
    font-size: 10px; 
}
body {
    font-size: 0;
    font-family: $font-family-m;
    font-weight: $font-normal;
}
.wrapper {
    margin: 0 auto;
    text-align: center;
    background: url(../../img/background-min.png) no-repeat;
    background-size: 100% 1000px;
    text-align: center;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
    .wrapper {
      background: url(../../img/background@2x-min.png) no-repeat;
      background-size: 100% 1000px;
    }
}
.container,
.template {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container {
    max-width: 120rem; 
}


