.template {
    max-width: 98rem;

&__header {
    font-family: $font-family-k;
    font-weight: $font-normal;
    font-size: 72px;
    color: $white;
    margin: 0 auto 3rem;
}
&__greeting {
    font-weight: $font-bold;
    color: $white;
    @include font-settings(150px, 0.95);
    text-transform: uppercase;
    margin: 0 auto 11rem;
}
}