body {
    font-size: 0;
    font-family: 'Roboto', sans-serif;
}
div.wrapper {
    max-width: 1840px;
    margin: 0 auto;
}
header {
    display: block;
    max-width: 1110px;
    margin: 40px auto 84px;
}
.mart {
    float: left;
    font-size: 30px;
    text-transform: uppercase;
    color: #555252;
    padding-bottom: 12px;
}
.mart::first-letter {
    font-family: 'Roboto:300', sans-serif;
    color: #1abc9c;
    font-weight: bold;   
}
.menu {
    float: right;
    margin: 4px 0 22px 0;
}
.menu li {
    display: inline-block;
}
li:first-child, li:nth-child(5) {
    margin-right: 35px;
}
li:nth-child(2) {
    margin-right: 38px;
}
li:nth-child(3) {
    margin-right: 31px;
}
li:nth-child(4) {
    margin-right: 28px;
}
a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold; 
    color: #0f0101;
    list-style: none;
    text-decoration: none;  
    text-transform: uppercase; 
    letter-spacing: -0.28px;
}
a:hover {
    color: #1abc9c;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
main {
    max-width: 1110px; 
    margin: 0 auto;
}
.article1 {
    margin: 0 auto 84px;
    padding-bottom: 8px;
}
h2 {
    font-size: 48px;
    font-weight: bold;
    color: #515151;
    text-transform: uppercase;
    font-family: 'Roboto:300', sans-serif;
    margin: 0 auto 20px;
    text-align: center;
    letter-spacing: -0.96px;
}
.greenline {
    background: #1abc9c;
    width: 164px;
    height: 7px;
    margin: 0 auto;
}
.products {
    margin-bottom: 103px;
}
.production {
    box-sizing: border-box;
    width: 255px;
    height: 322px;
    float: left;  
    padding: auto;
}
.production:nth-child(-n+3) {
    margin-right: 30px;
}
.production:nth-child(-n+4) {
    margin-bottom: 30px;
}
.production:nth-child(5), 
.production:nth-child(6),
.production:nth-child(7) {
    margin-right: 30px;
}
.clear {
    clear: left;
}
.picture {
    background: #e9f0fd;
    height: 282px;
    text-align: center;
    vertical-align: middle;
}

.description, 
.price {
    max-height: 40px;
    font-family: 'Roboto:300', sans-serif;
    box-sizing: border-box;
    padding-bottom: 11px;
    padding-top: 11px;
}
span {
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}
.description {
    float: left;
    width: 201px;
    padding-left: 13px;
    background: #323232;
}
.price {
    float: right;
    width: 54px;
    text-align: center;
    background: darkgray;
}
.article2 {
    margin: 0 auto 67px;
    padding-bottom: 8px;
}
.latest {
    margin-bottom: 82px;
    float: left;
    height: 263px;
    width: 350px;
}
.news:first-child {
    margin-right: 30px;
}
.news:nth-child(2) {
    margin-right: 30px;
}
.ipad {
    background-image: url(https://ibb.co/igJk9d);
    background-repeat: no-repeat;
    background-size: cover;
}