body {
    font-size: 0;
    font-family: 'Roboto', sans-serif;
}
div.wrapper {
    max-width: 1650px;
    margin: 0 auto;
}
header {
    display: block;
    max-width: 1110px;
    margin: 40px auto 84px;
}
.mart {
    float: left;
    font-size: 30px;
    text-transform: uppercase;
    color: #555252;
    padding-bottom: 12px;
}
.mart::first-letter {
    font-family: 'Roboto:300', sans-serif;
    color: #1abc9c;
    font-weight: bold;   
}
.menu {
    float: right;
    margin: 4px 0 22px 0;
}
.menu li {
    display: inline-block;
}
.menu li:first-child, li:nth-child(5) {
    margin-right: 35px;
}
.menu li:nth-child(2) {
    margin-right: 38px;
}
.menu li:nth-child(3) {
    margin-right: 31px;
}
.menu li:nth-child(4) {
    margin-right: 28px;
}
a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold; 
    color: #0f0101;
    list-style: none;
    text-decoration: none;  
    text-transform: uppercase; 
    letter-spacing: -0.28px;
}
a:hover {
    color: #1abc9c;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
main {
    max-width: 1110px; 
    margin: 0 auto;
}
.article1 {
    margin: 0 auto 103px;
    text-align: center;
}
h2 {
    font-size: 48px;
    font-weight: bold;
    color: #515151;
    text-transform: uppercase;
    font-family: 'Roboto:300', sans-serif;
    margin: 0 auto 20px;
    text-align: center;
    letter-spacing: -0.96px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding-bottom: 8px;
}
h2::before {
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: #0f0101;
    left: 50%;
    bottom: 0;
}
h2::after {
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: #0f0101;
    left: 50%;
    bottom: 0;
}
h2:hover::before {
    width: 50%;
    left: 0;
}
h2:hover::after {
    width: 50%;
}

.greenline {
    background: #1abc9c;
    width: 164px;
    height: 7px;
    margin: 0 auto 84px;
}
.products {
    margin-bottom: 103px;
}
.production {
    box-sizing: border-box;
    width: 255px;
    max-height: 322px;
    float: left;  
    padding: auto;
    background: #e9f0fd;
    overflow: hidden;
}
.production::after{
    display: inline-block;
    float: left;
    height: 40px;
    content: "";
    width: 255px;
    margin-top: -40px;
    opacity: 0.7;
}
.production:hover::after {
    background: #1abc9c;
}
.production:nth-child(-n+3) {
    margin-right: 30px;
}
.production:nth-child(-n+4) {
    margin-bottom: 30px;
}
.production:nth-child(5), 
.production:nth-child(6),
.production:nth-child(7) {
    margin-right: 30px;
}
.clear {
    clear: left;
}
.picture {
    height: 282px;
    text-align: center;
    vertical-align: middle;
}

.description,
.price {
    max-height: 40px;
    font-family: 'Roboto:300', sans-serif;
    box-sizing: border-box;
    padding-bottom: 11px;
    padding-top: 11px;
}
span {
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}
.description {
    float: left;
    width: 201px;
    padding-left: 13px;
    background: #323232;
}
.price {
    float: right;
    width: 54px;
    text-align: center;
    background: darkgray;
}

.article2 {
    margin: 0 auto;
    text-align: center;
}
.greenline1 {
    background: #1abc9c;
    width: 164px;
    height: 7px;
    margin: 0 auto 73px;
}
.news {
    box-sizing: border-box;
    float: left;
    max-height: 500px;
    width: 350px;
    margin-right: 30px;
}
.news:last-child {
    margin-right: 0;
}
.ipad, .girls, .bus {
    margin-bottom: 15px;
}
.ipad {
    height: 260px;
    width: 350px;
    box-sizing: border-box;
    background-image:url(https://image.ibb.co/ckRu2y/ipad_632394_960_720.jpg);
    background-repeat: no-repeat;
    background-position: 55% 0;
    background-size: 460px 320px;
}
.girls {
    height: 260px;
    width: 350px;
    box-sizing: border-box;
    background-image:url(https://image.ibb.co/hpqbFJ/slide1.jpg);
    background-repeat: no-repeat;
    background-position: 45% 50%;
    background-size: cover;
}
.bus {
    height: 260px;
    width: 350px;
    box-sizing: border-box;
    background-image:url(https://image.ibb.co/nBMSNy/product_img_5.jpg);
    background-repeat: no-repeat;
    background-position: 80% 30%;
    background-size: 110%;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: -0.36px;
    text-align: justify;
}
h3::after {
    content: "";
    display: block;
    height: 3px;
    width: 138px;
    background: #1abc9c;
    margin-top: 14px;
    margin-bottom: 34px;   
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.28px;
    text-align: justify;
    margin-bottom: 9px;
}
button {
    font-family: 'Open Sans', sans-serif;
    font-weight: light;
    font-size: 16px;
    letter-spacing: -0.32px;
    width: 160px;
    max-height: 46px;
    padding-top: 10px;
    padding-bottom: 18px;
    border: 1px solid #1abc9c;
    background: #1abc9c;
    color: #ffffff;
    text-align: center;
    margin-bottom: 77px;
}