.section-title {
    text-align: center;
    font-family: $font-family-k; 
    color: $grey-dark;    
    position: relative;
    @include font-settings(24px, 0.95)
}
.section-title::after {
    @extend %title-after;
}
.slogan {
    margin-bottom: 10.5rem;
    &__type {
    @extend %title-structure;
    }
}

.team {
    margin-bottom: 8.5rem;
    &__structure {
    @extend %title-structure;
    margin-bottom: 9rem;
    }
      
}