.nav {
    width: 61.5rem;
    display: flex;
    justify-content: space-between; 
    height: 28px;
}
.nav__link {
    list-style: none;
    font-size: 14px;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    transition-property: color;
    transition-duration: 200ms;
    transition-timing-function: linear;
    position: relative;
}
.nav__link--hover:hover {
    color: $yellow-light;
}
.nav__link--hover:hover::after {
    text-align: center;
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background: $yellow-light;
    position: absolute;
    top: 27px;
}