.nav {
    width: 61.5rem;
    @extend %main-flex;
    height: 28px;
    &__link {
    list-style: none;
    font-size: 14px;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    transition-property: color;
    @extend %main-transition;
    position: relative;
    }
    &__link--hover:hover {
    color: $yellow-light;
    }
    &__link--hover:hover::after {
    text-align: center;
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background: $yellow-light;
    position: absolute;
    top: 27px;
    }
}