.nav {
    width: 61.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
    height: 28px;
}
.nav__link {
    list-style: none;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    position: relative;
}
.nav__link--hover:hover {
    color: #fce38a;
}
.nav__link--hover:hover::after {
    text-align: center;
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background: #fce38a;
    position: absolute;
    top: 27px;
}