.intro {
    margin-bottom: 28rem;
}
.products-wrap {
    margin-bottom: 5.1rem;
}
.services-wrap {
    max-width: 100%;
    @extend %main-flex;
    flex-wrap: wrap;
}
.team-wrap {
    margin-bottom: 8.5rem;
}
.about-team {
    @include font-settings(15px, 1.6);
    font-family: $font-family-r;
    color: $grey-middle;
    max-width: 96rem;
    margin: 0 auto 8.7rem;
    text-align: center;
}
.structure-wrap {
    @extend %main-flex;
}
.person-image {
    position: relative;
    width: 380px;
    height: 470px;
    background: linear-gradient($red-light, $yellow-dark);
    transition-property: translate;
    @extend %main-transition;
}
.social-wrap {
    position: absolute;
    box-sizing: border-box;
    width: 224px;
    height: 56px;
    top: 207px;
    left: 78px;  
    display: none;
    justify-content: space-between;
}
.social-wrap .network {
    background-color: $yellow-light;
    @extend %network-size;
    display: inline-flex;
    justify-content: center;
    transition-property: background-color;
    @extend %main-transition; 
    cursor: pointer;  
}
.social-wrap .network:hover {
    background-color: $red-dark;
}
.network {
    position: relative;
}
.network .social-link {
    text-decoration: none;
    font-size: 16px;
    display: block;
    @extend %network-size;
    position: absolute;
}  
.network:hover .network-icon {
    fill: $white;
}