@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), 
         url('../fonts/montserrat-v12-latin-regular.woff') format('woff');        
  }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), 
         url('../fonts/montserrat-v12-latin-700.woff') format('woff');      
  }
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v18-latin-300.woff2') format('woff2'), 
         url('../fonts/roboto-v18-latin-300.woff') format('woff'); 
    }
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), 
         url('../fonts/roboto-v18-latin-regular.woff') format('woff');       
  }
:root {
    font-size: 10px; 
}
body {
    font-size: 0;
}
.wrapper {
    margin: 0 auto; 
    text-align: center; 
}
.background {
    background: url(../images/Background_320.png) no-repeat;
    background-size: cover;
    min-height: 54rem;
    width: 100%;
}
.header_wrap {
    margin: 0 auto 3rem;
    padding-top: 30px;
    text-align: center;
    box-sizing: border-box;   
}
[class*="col-"] { 
    padding: 0 10px; 
}
.registr {
    display: inline-flex;
    justify-content: center;
}
.reg {
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 14px;
    color: #fafaf9;
    background: transparent;
    border: 0;
    cursor: pointer;
    text-decoration: none;  
    box-sizing: border-box;
    padding: 13px 19px 10px;
    transition-property: box-shadow;
}
.reg:hover {
    box-shadow: inset 0 0 0 0.2rem #fafaf9;
    border-radius: 2rem;  
}
.title {
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.5px;
    margin: 0 auto;
    text-decoration: none;
}
.target_wrap,
.folks_wrap {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.aim {
    font-family: "Montserrat", serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.2;
}
.aim .aim2 {
    display: block;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-size: 18px;
    color: #fbf7f5;
    text-transform: none;
    line-height: 1.2;
    max-width: 216px;
    margin: 1rem auto 0;
}
.find,
.find1 {
    display: inline-block;
    cursor: pointer;
    min-width: 278px;
    box-sizing: border-box;
    border: 0.1rem solid #ff4e50;
    font-size: 14px;  
    font-family: "Montserrat", serif;
    font-weight: 700;
    border-radius: 5rem;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    margin: 0 auto;   
}
.find {
    color: #ffffff;
    background: #ff4e50;
}
.find1 {
    color: #ff4e50;
}
.holiday {
    font-size: 22px;
    font-family: "Montserrat", serif;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #333333;   
}
.people img {
    align-self: center;
    margin-bottom: 1.5rem;
}
.name {
    font-size: 14px;
    font-family: "Montserrat", serif;
    font-weight: 700;
    color: #333333;
    margin-bottom: 1.5rem;
}
.interest {
    font-size: 14px;
    font-family: "Roboto", serif;
    font-weight: 300;
    color: #a3a3a3;
    line-height: 1.2;
    text-align: center;
    max-width: 221px;
    margin: 0 auto;
}
@media (max-width: 767px) {
    .menu {
        margin-bottom: 12.8rem;
        padding-right: 2.5rem;
    }
    .background {
        margin-bottom: 6.9rem; 
    }
    .folks_wrap {
        margin-bottom: 5.8rem; 
    }
    .aim {
        margin: 0 auto 1.5rem;
    }
    .people {
        margin: 0 auto 2.7rem;
    }
}
@media (min-width: 768px) {
    .header_wrap {
        padding-top: 48px;
        margin-bottom: 15rem;
    }
    .menu {
        margin-bottom: 0;
    }
    .background {
        background: url(../images/Background_768.png) no-repeat;
        background-size: cover;
        min-height: 70rem;
        margin-bottom: 7.2rem; 
    }
    .aim {
        font-size: 52px;
        line-height: 1.15; 
    }
    .aim .aim2 {
        font-family: "Roboto", serif;
        font-weight: 300;
        font-size: 24px;   
        margin-top: 3rem;
        margin-bottom: 3rem;
        max-width: 100%;
    }
    .find {
        min-width: 225px;
    }
    .find1 {
        min-width: 192px;
    }
    .people {
        margin: 0 auto;
    }
    .people:first-child,
    .people:nth-child(3) {
        margin-bottom: 5.7rem;
    }
    .people:last-child,
    .people:nth-child(2) {
        margin-bottom: 4rem;
    }
    .holiday {
        margin-bottom: 3.2rem;   
    }
    .folks_wrap {
        margin-bottom: 4rem; 
    }
}
@media (min-width: 992px) {
    .background {
        background: url(../images/Background_1440.png) no-repeat;
        background-size: cover;
        min-height: 70rem;
        margin-bottom: 7.1rem; 
    }
    .menu {
        margin-right: -2.9rem;
    }
    .menu1 {
        margin-left: -2.8rem;
    }
    .folks_wrap {
        margin-bottom: 7.3rem; 
    }
   
    .people:first-child,
    .people:nth-child(3) {
        margin-bottom: 4rem;
    }
}