.profile {
    &__photo {
    background-color: $green-light;
    width: 380px;
    height: 470px;
    margin-bottom: 2.7rem;
}
    &__photo--hover:hover .person-image {    
    transform: translate(-10px, -10px);           
}
    &__photo--hover:hover .person-image > .person-image__picture {
    opacity: 0.1;
} 
    &__photo--hover:hover .social-wrap {
    display: flex;
}
    &__surname {
    text-transform: uppercase;
    font-size: 14px;
    color: $grey-dark;
    margin: 0 auto 1rem; 
    text-align: center;
}
    &__position {
    font-size: 15px;
    font-family: $font-family-r;
    font-style: italic;
    font-weight: $font-thin;
    color: $grey-middle;
    text-align: center;
    margin: 0 auto;
}   
}