.icon-nav {
    fill: $white-light;
    cursor: pointer;
}
.icon-nav:hover {
    fill: $yellow-light;    
}
.icon-cart,
.icon-search {
    width: 18px;
}
.icon-cart {
    height: 14px;
}
.icon-search {
    height: 18px;
} 