$font-family-m: 'Montserrat', sans-serif;
$font-family-r: 'Roboto', sans-serif;
$font-family-k: 'Kaushan Script', sans-serif;
$font-bold: 700;
$font-normal: 400;
$font-light: 300;
$font-thin: 100;

$grey-dark: #333333;
$grey-middle: #999999;
$grey-light: #cccccc;

$red-dark: #f38181;
$red-light: #ef8a8a;

$green-light: #95e1d3;

$white: #ffffff;
$white-light: #fff;

$yellow-light: #fce38a;
$yellow-dark: #f2d887;