.form__email {
    border: 1px solid $grey-light;
    font-size: 15px;
    font-family: $font-family-r;
    font-style: italic;
    font-weight: $font-thin;
    display: inline-block;
    box-sizing: border-box;
    width: 227px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.form__subscribe {
    width: 149px;
    display: inline-block;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 12px;
    text-transform: uppercase;
    border: 0px;
    background-color: $green-light;
    color: $white;
    font-weight: $font-bold;
    font-size: 14px;
    cursor: pointer;
}